{% extends 'base.html' %}
{% block content %}

<h1>Shoe Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ shoe.brand }}</span>
        <p>Name: {{ shoe.name }}</p>
        <p>Type: {{ shoe.style }}</p>
        <p>Description: {{ shoe.description }}</p>
      </div>

        <div class="card-action">
          <a href="{% url 'shoes_update' shoe.id %}">Edit</a>
          <a href="{% url 'shoes_delete' shoe.id %}">Delete</a>
        </div>
  
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_cleaning' shoe.id %}" method="post">
      {% csrf_token %}
      {{ cleaning_form.as_p }}
      <input type="submit" value="Add Cleaning" class="btn">
    </form>
      <table class="striped">
        <thead>
          <tr><th>Date</th><th>Time</th></tr>
        </thead>
        <tbody>
          {% for cleaning in shoe.cleaning_set.all %}
            <tr>
              <td>{{cleaning.date}}</td>
              <td>{{cleaning.get_time_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ shoe.brand }}'s Store</h3>
    {% if shoe.stores.count %}
      {% for store in shoe.stores.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span style="color: red {{ store.color }}">{{ store.name }} in {{ store.location }}</span> 
            </span>
          </div>
        <div class="card-action">
            <form action="{% url 'unassoc_store' shoe.id store.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Stores :(</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
</div>
<!-- Available toys will come after this line -->
<div class="col s6">
  <h3>Available Stores</h3>
  {% if stores.count %}
    {% for store in stores.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <span>{{ store.name }} in {{ store.location }} </span>
          </span>
        </div>
        <div class="card-action">
            <form action="{% url 'assoc_store' shoe.id store.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{shoe.name}} Already Has All Stores Available</h5>
    {% endif %}
  </div>
</div>

<script>
var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_time')
  M.FormSelect.init(selectEl);
</script>

{% endblock %}